---
import Layout from 'layouts/default.astro'
import Card from 'shared/components/card/index.astro'
import { getTMDBList } from 'shared/services/tmdb'

const { TMDB_API_KEY } = import.meta.env 

const popularShowsUrl = 'https://api.themoviedb.org/3/tv/popular?api_key=' + TMDB_API_KEY
const popularShows = await getTMDBList( popularShowsUrl )

const topRatedUrl = 'https://api.themoviedb.org/3/tv/top_rated?api_key=' + TMDB_API_KEY
const topRated = await getTMDBList( topRatedUrl )
---

<Layout title="TV — Astro Shows" menu="show">
		
	<div class="container mx-auto px-4 pt-16">
		<div class="popular-tv">
			<h2 class="uppercase tracking-wider text-orange-500 text-lg font-semibold">Popular Shows</h2>
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
			{popularShows.map(show => {
				return <Card item={show} path="/tv" />
			})}
			</div>
		</div>

		<div class="top-rated-shows py-24">
			<h2 class="uppercase tracking-wider text-orange-500 text-lg font-semibold">Top Rated Shows</h2>
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
			{topRated.map(show => (
				<Card item={show} path="/tv" />
			))}
			</div>
		</div>
	</div>
	
</Layout>

